{% extends 'index.html' %}
{% block content %}

<div class="serv">
	<ul>
		<li><a href="#"> Web Application Development</a> </li>
		<li><a href="#"> Software Development </a> </li>
		<li><a href="#"> Artificial Intelligence </a></li>
		<li><a href="#"> Machine Learning </a></li>
		<li><a href="#"> Deep Learning </a></li>
		<li><a href="#"> Natural Language Processing </a></li>
		<li><a href="#"> Neural Network </a></li>
		<li><a href="#"> Computer Vision </a></li>
		<li><a href="#"> Internet of Things </a></li>
		<li><a href="#"> Data Science </a></li>
		<li><a href="#"> Big Data and Hadoop </a></li>
		<li><a href="#"> Internet of Things </a></li>
	</ul>
</div>

{% endblock %}